{:deps
 {org.clojure/clojure         {:mvn/version "1.11.1"}
  io.github.humbleui/humbleui {:git/sha "ca46bb8549aa803c4dd5ff25010ce5e40a1385df"}
  tween-clj/tween-clj         {:mvn/version "0.5.0"}}}
